<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="/img/bg/bread-bg.jpg">
    <span class="background_overlay"></span>
    <span class="design-shape position-absolute"><img src="/img/shape/tmd-sh.png" alt="" /></span>
    <div class="container">
        <div class="ft-breadcrumb-content headline text-center position-relative">
            <h2><%= pageTitle %></h2>
            <div class="ft-breadcrumb-list ul-li">
                <ul>
                    <li><a href="/">Home</a></li>
                    <% if (parentPage) { %>
                        <li><a href="/service"><%= parentPage %></a></li>
                    <% } %>
                    <li><%= pageTitle %></li>
                </ul>
            </div>
        </div>
    </div>
</section>
