<section id="ft-faq-why-choose-us" class="ft-faq-why-choose-us-section">
    <div class="container">
        <div class="ft-faq-why-choose-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ft-faq-content">
                        <div class="ft-section-title-2 headline pera-content">
                            <span class="sub-title">Frequently Asked Questions</span>
                            <h2>Have an Any Question?</h2>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item headline pera-content">
                                <h2 class="accordion-header" id="headingOne">
                                    <button
                                        class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                    >
                                        Can I specify a delivery date when ordering?
                                    </button>
                                </h2>
                                <div
                                    id="collapseOne"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample"
                                >
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                        gravida Risus commodo viverra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item headline pera-content">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                    >
                                        What payment methods are supported?
                                    </button>
                                </h2>
                                <div
                                    id="collapseTwo"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample"
                                >
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                        gravida Risus commodo viverra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item headline pera-content">
                                <h2 class="accordion-header" id="headingThree">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree"
                                    >
                                        What is Federation of International Trade Associations?
                                    </button>
                                </h2>
                                <div
                                    id="collapseThree"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample"
                                >
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                        gravida Risus commodo viverra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item headline pera-content">
                                <h2 class="accordion-header" id="headingFour">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour"
                                        aria-expanded="false"
                                        aria-controls="collapseFour"
                                    >
                                        How can I track my shipments?
                                    </button>
                                </h2>
                                <div
                                    id="collapseFour"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample"
                                >
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                        gravida Risus commodo viverra.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ft-why-choose-content-2">
                        <div
                            class="ft-section-title-2 headline pera-content wow fadeInUp"
                            data-wow-delay="0ms"
                            data-wow-duration="1500ms"
                        >
                            <span class="sub-title">Why Choose Us</span>
                            <h2>Why Do You Like FasTrans?</h2>
                        </div>
                        <div class="ft-why-choose-feature-wrapper-2">
                            <div class="row">
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <div class="ft-why-choose-feature-list-item-2">
                                        <div class="ft-why-choose-feature-icon">
                                            <i class="flaticon-logistics"></i>
                                        </div>
                                        <div class="ft-why-choose-feature-text headline pera-content">
                                            <h3>Safe Packing</h3>
                                            <p>Do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                    <div class="ft-why-choose-feature-list-item-2">
                                        <div class="ft-why-choose-feature-icon">
                                            <i class="flaticon-delivery-truck"></i>
                                        </div>
                                        <div class="ft-why-choose-feature-text headline pera-content">
                                            <h3>Right Time Delivery</h3>
                                            <p>Do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <div class="ft-why-choose-feature-list-item-2">
                                        <div class="ft-why-choose-feature-icon">
                                            <i class="flaticon-boat"></i>
                                        </div>
                                        <div class="ft-why-choose-feature-text headline pera-content">
                                            <h3>Ship everywhere</h3>
                                            <p>Do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
                                    <div class="ft-why-choose-feature-list-item-2">
                                        <div class="ft-why-choose-feature-icon">
                                            <i class="flaticon-free-shipping"></i>
                                        </div>
                                        <div class="ft-why-choose-feature-text headline pera-content">
                                            <h3>Fastest Shipping</h3>
                                            <p>Do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
