<section id="ft-testimonial-2" class="ft-testimonial-section-2">
    <div class="container">
        <div class="ft-testimonial-top-content-2 d-flex justify-content-between align-items-end flex-wrap">
            <div class="ft-section-title-2 headline pera-content">
                <span class="sub-title">Testimonials</span>
                <h2>What People & Clients Think About Us?</h2>
            </div>
            <div class="ft-title-text">
                Discover what our valued clients and partners say about our services and commitment to excellence.
            </div>
        </div>
        <div class="ft-testimonial-slider-wrapper-2 swiper-container">
            <div class="ft-testimonial-slider-2">
                <div class="choose_slider_items ul-li choose_slider">
                    <ul id="mySlider1">
                        <% testimonials.forEach((testimonial, index) => { %>
                        <li class="current_item">
                            <div class="ft-testimonial-innerbox-item-2 text-center">
                                <div class="ft-testimonial-img">
                                    <img src="<%= testimonial.clientPhoto %>" alt="" />
                                </div>
                                <div class="ft-testimonial-text headline pera-content">
                                    <div class="ft-testimonial-meta">
                                        <h3><%= testimonial.clientName %></h3>
                                        <span><%= testimonial.clientDesignation %></span>
                                    </div>
                                    <p><%= testimonial.testimonial %></p>
                                    <div class="ft-testimonial-rate ul-li">
                                        <ul>
                                            <% for (let i = 0; i < testimonial.rating; i++) { %>
                                            <li><i class="fas fa-star"></i></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                    <div>
                        <a id="btn_next1" href="#" aria-label="Next slide"><i class="far fa-arrow-right"></i></a>
                    </div>
                    <div>
                        <a id="btn_prev1" href="#" aria-label="Previous slide"><i class="far fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
