	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<meta name="description" content="FasTrans - Logistics & Delivery Company HTML template">
		<meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, page builder, shipment, transport, transportation, truck, trucking">
		<meta name="author" content="Themexriver">
		<link rel="shortcut icon" href="/img/logo/ficon.png" type="image/x-icon">
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/fontawesome-all.css">
		<link rel="stylesheet" href="/css/flaticon.css">
		<link rel="stylesheet" href="/css/animate.css">
		<link rel="stylesheet" href="/css/nice-select.css">
		<link rel="stylesheet" href="/css/video.min.css">
		<link rel="stylesheet" href="/css/animated-slider.css">
		<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" href="/css/slick.css">
		<link rel="stylesheet" href="/css/rs6.css">
		<link rel="stylesheet" href="/css/slick-theme.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div id="preloader"></div>
		<div class="up">
			<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
		</div>
<!-- Start of header section
	============================================= -->
	<%- include('partials/header') %>
<!-- End of header section
	============================================= -->

<!-- Start of Breadcrumb section
	============================================= -->
	<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="/img/bg/bread-bg.jpg">
		<span class="background_overlay"></span>
		<span class="design-shape position-absolute"><img src="/img/shape/tmd-sh.png" alt=""></span>
		<div class="container">
			<div class="ft-breadcrumb-content headline text-center position-relative">
				<h2>Ocean Feright</h2>
				<div class="ft-breadcrumb-list ul-li">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Blog Details</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	
<!-- End of Breadcrumb section
	============================================= -->

<!-- Start of Blog Details section
	============================================= -->
	<section id="ft-blog-feed-details" class="ft-blog-feed-details-section page-padding">
		<div class="container">
			<div class="ft-blog-feed-details-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="blog-details-img-text-wrapper">
							<div class="blog-details-img position-relative">
								<img src="/img/bg/wc-bg.jpg" alt="">
							</div>
							<div class="ft-blog-details-item">
								<div class="blog-details-text headline">
									<div class="ftd-blog-meta-2  position-relative text-capitalize">
										<a href="#"><i class="far fa-clock"></i> September 12, 2020</a>
										<a href="#"><i class="far fa-user"></i> by admin</a>
										<a href="#"><i class="fas fa-tags"></i> Education</a>
									</div>
									<article>
										It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition
										inhospital, has "potentially life-changing injuries" after the overnight attack in Garvagh, County Lonodonderry. He was shot in the arms and legs."What sort of men would think.” A reader will be distracted by the readable content.
									</article>
									<article>
										"Every child has the right to feel safe and protected in their own home - how is this poor child going to sleep tonight or in coming nights? What are the long term effects on her going to be?"
									</article>
									<h3>Content without backward-compatible data.</h3>
									<article>As a app web crawler expert, I help organizations adjust to the expanding significace of internet promoting. placeholder text for use in your graphic, print. quality levels at each site. CleanNet’s proprietary software enables CleanNet Quality.</article>
									<article>
										Sandards and take action when necessary, from solving basic problems to incorporating remedial training. quality levels at each site. 
									</article>
									<div class="blog-details-img-video">
										<div class="row">
											<div class="col-md-6">
												<div class="blog-details-img position-relative">
													<img src="/img/blog/bd-ig2.jpg" alt="">
													<div class="ft-video-play">
														<a class="d-flex justify-content-center align-items-center position-relative video_box" href="https://www.youtube.com/watch?v=C4jjFanHZo8">
															<i class="fas fa-play"></i>
															<span class="video_btn_border border_wrap-1"></span>
															<span class="video_btn_border border_wrap-2"></span>
														</a>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="blog-details-img position-relative">
													<img src="/img/blog/bd-ig1.jpg" alt="">
												</div>
											</div>
										</div>
									</div>
									<h3>A Kentucky woman who was accused last year.</h3>
									<article>
										The intruders chased the girl in the house and threatened her when she hid from them, according to the PSNI Limavady Facebook page. "She came out petrified with her Piggy Bank, HER PIGGY BANK! hoping that the men would take it and leave her dad alone.”
									</article>
									<article>
										like men who are so beguiled & demoralized our power of pleasure is to be welcomed. Denounce with righ teous indignation and dislike men who are so beguiled.
									</article>
									<blockquote>
										“What sort of men would think it is acceptable to girl to this for level of
										brutality and violence? an attack like thiop.”
										<span>Neil Borton</span>
									</blockquote>
									<article>
										The intruders chased the girl in the house and threatened her when she hid from them, according to the PSNI Limavady Facebook page.
									</article>
									<article>
										"She came out petrified with her Piggy Bank, HER PIGGY BANK! hoping that the men would take it and leave her dad alone," one outraged officer wrote. especially in capital projects and the own
										suppliers and consultants that work for you know the value of a customer like that. As a executing two projects for a large multinational.
									</article>
								</div>
								<div class="ft-blog-tag-share clearfix">
									<div class="ft-blog-tag float-left">
										<span>Tags:</span>
										<a href="#">Business</a>
										<a href="#">Life</a>
										<a href="#">Truck</a>
										<a href="#">Techniq</a>
									</div>
									<div class="ft-blog-share float-right">
										<a class="fb-social" href="#"><i class="fab fa-facebook-f"></i><span>Like Us</span></a> 
										<a class="tw-social" href="#"><i class="fab fa-twitter"></i><span>Like Us</span></a>
										<a class="ln-social" href="#"><i class="fab fa-linkedin-in"></i><span>Like Us</span></a>
										<a  class="in-social" href="#"><i class="fab fa-instagram"></i><span>Like Us</span></a>
									</div>
								</div>
							</div>
							<div class="ft-blog-next-prev d-flex justify-content-between flex-wrap">
								<div class="ft-blog-next-prev-btn  ">
									<a class="np-text text-uppercase" href="#"><i class="fas fa-angle-double-left"></i> Previous Post</a>
									<div class="ft-blog-next-prev-img-text clearfix">
										<div class="ft-blog-np-img float-left">
											<img src="/img/blog/nbp1.jpg" alt="">
										</div>
										<div class="ft-blog-np-text headline">
											<h3><a href="#">Our 6 of the Best Organic Chocolates
											to Buy.</a></h3>
										</div>
									</div>
								</div>
								<div class="ft-blog-next-prev-btn np-text-item text-right">
									<a class="np-text  text-uppercase" href="#">Next Post <i class="fas fa-angle-double-right"></i></a>
									<div class="ft-blog-next-prev-img-text d-flex clearfix">
										<div class="ft-blog-np-text  headline">
											<h3><a href="#">Best guide to shopping for organic
											ingredients.</a></h3>
										</div>
										<div class="ft-blog-np-img">
											<img src="/img/blog/nbp2.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ft-blog-comment headline">
							<h3>Comment (2)</h3>
							<div class="ft-blog-comment-block-wrapper">
								<div class="ft-blog-comment-block">
									<div class="ft-blog-comment-img float-left">
										<img src="/img/blog/blg-c1.jpg" alt="">
									</div>
									<div class="ft-blog-comment-text headline pera-content position-relative">
										<h4><a href="#">Riva Collins</a></h4>
										<span>November 19, 2020 at 11:00 am </span>
										<p>It’s no secret that the digital industry is booming. From exciting startups to need ghor 
											global and brands, companies are reaching out.
										</p>
										<a class="ftd-reply-btn text-center text-uppercase" href="#">Reply <i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="ft-blog-comment-block">
									<div class="ft-blog-comment-img float-left">
										<img src="/img/blog/blg-c2.jpg" alt="">
									</div>
									<div class="ft-blog-comment-text headline pera-content position-relative">
										<h4><a href="#">Oliva Jonson</a></h4>
										<span>November 19, 2020 at 11:00 am </span>
										<p>It’s no secret that the digital industry is booming. From exciting startups to need ghor 
											global and brands, companies are reaching out.
										</p>
										<a class="ftd-reply-btn text-center text-uppercase" href="#">Reply <i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<h3>Post A Comment</h3>
							<div class="ftd-blog-comment-form">
								<form action="#" method="post">
									<div class="ftd-comment-form-input">
										<label>Your email address will not be published *</label>
										<div class="ftd-comment-input-wrap d-flex">
											<input type="text" placeholder="Name">
											<input type="email" placeholder="Mail">
											<input type="text" placeholder="Mobile">
										</div>
										<span><input type="checkbox"> <label>Save my details in this browser for the next time I comment.</label></span>
										<textarea placeholder="Your Comment here..."></textarea>
										<button type="submit">Post Comment</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ft-side-bar-wrapper top-stikcy">
							<div class="ft-side-bar-widget-area">
								<div class="ft-side-bar-widget search-widget-area headline ul-li-block">
									<div class="search-widget position-relative">
										<form action="#">
											<input type="text" placeholder="Search.">
											<button><i class="far fa-search"></i></button>
										</form>
									</div>
								</div>
								<div class="ft-side-bar-widget headline ul-li-block">
									<div class="category-widget">
										<h3 class="widget-title position-relative">Categories</h3>
										<ul>
											<li><a href="/blog">Ocean Freight <span>3</span></a></li>
											<li><a href="/blog">Air Freight <span>3</span></a></li>
											<li><a href="/blog">Rail Project <span>3</span></a></li>
										</ul>
									</div>
								</div>
								<div class="ft-side-bar-widget headline ul-li-block">
									<div class="recent-news-widget">
										<h3 class="widget-title position-relative">Recent News</h3>
										<div class="recent-blog-img-text clearfix">
											<div class="recent-blog-img float-left">
												<img src="/img/blog/rec1.jpg" alt="">
											</div>
											<div class="recent-blog-text headline">
												<h3><a href="/blog-details">Zechs Magnesium
												flakes especially...</a></h3>
												<span><i class="far fa-calendar-alt"></i> December 12, 2021</span>
											</div>
										</div>
										<div class="recent-blog-img-text clearfix">
											<div class="recent-blog-img float-left">
												<img src="/img/blog/rec2.jpg" alt="">
											</div>
											<div class="recent-blog-text headline">
												<h3><a href="/blog-details">Finding a way to the
												separate ‘work’ ...</a></h3>
												<span><i class="far fa-calendar-alt"></i> December 12, 2021</span>
											</div>
										</div>
										<div class="recent-blog-img-text clearfix">
											<div class="recent-blog-img float-left">
												<img src="/img/blog/rec3.jpg" alt="">
											</div>
											<div class="recent-blog-text headline">
												<h3><a href="/blog-details">Hunching over desk
												can cause pain.</a></h3>
												<span><i class="far fa-calendar-alt"></i> December 12, 2021</span>
											</div>
										</div>
									</div>
								</div>
								<div class="ft-side-bar-widget headline ul-li-block">
									<div class="category-widget">
										<h3 class="widget-title position-relative">Archives</h3>
										<ul>
											<li><a href="/blog">Ocean Freight <span>3</span></a></li>
											<li><a href="/blog">Air Freight <span>3</span></a></li>
											<li><a href="/blog">Rail Project <span>3</span></a></li>
										</ul>
									</div>
								</div>
								<div class="ft-side-bar-widget headline ul-li-block">
									<div class="gallery-widget">
										<h3 class="widget-title position-relative">Gallery</h3>
										<ul class="zoom-gallery">
											<li><a href="/img/gallery/gl1.jpg" data-source="/img/gallery/gl1.jpg"><img src="/img/gallery/gl1.jpg" alt=""></a></li>
											<li><a href="/img/gallery/gl2.jpg" data-source="/img/gallery/gl2.jpg"><img src="/img/gallery/gl2.jpg" alt=""></a></li>
											<li><a href="/img/gallery/gl3.jpg" data-source="/img/gallery/gl3.jpg"><img src="/img/gallery/gl3.jpg" alt=""></a></li>
											<li><a href="/img/gallery/gl4.jpg" data-source="/img/gallery/gl4.jpg"><img src="/img/gallery/gl4.jpg" alt=""></a></li>
											<li><a href="/img/gallery/gl5.jpg" data-source="/img/gallery/gl4.jpg"><img src="/img/gallery/gl5.jpg" alt=""></a></li>
											<li><a href="/img/gallery/gl6.jpg" data-source="/img/gallery/gl4.jpg"><img src="/img/gallery/gl6.jpg" alt=""></a></li>
										</ul>
									</div>
								</div>
								<div class="ft-side-bar-widget headline ul-li-block">
									<div class="tag-widget">
										<h3 class="widget-title position-relative">Archives</h3>
										<ul>
											<li><a href="/blog">Business</a></li>
											<li><a href="/blog">Cargo</a></li>
											<li><a href="/blog">Freight</a></li>
											<li><a href="/blog">Truck</a></li>
											<li><a href="/blog">Ship</a></li>
										</ul>
									</div>
								</div>
								<div class="ft-side-bar-add headline" data-background="/img/bg/add-bg.jpg">
									<div class="ft-add-content text-center">
										<div class="ft-logo-icon">
											<img src="/img/logo/l-icon.png" alt="">
										</div>
										<h3>Cargo &  Logistics
										Business service </h3>
										<a class="d-flex justify-content-center align-items-center" href="/contact">Contact Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>	
<!-- Start of Blog Details section
	============================================= -->	

<!-- Start of Footer   section
	============================================= -->
	<%- include('partials/footer') %>		
<!-- End of FAQ why choose  section
	============================================= -->	

	<!-- For Js Library -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/appear.js"></script>
	<script src="/js/slick.js"></script>
	<script src="/js/jquery.counterup.min.js"></script>
	<script src="/js/waypoints.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/jquery.filterizr.js"></script>
	<script src="/js/rbtools.min.js"></script>
	<script src="/js/jquery.cssslider.min.js"></script>
	<script src="/js/rs6.min.js"></script>
	<script src="/js/knob.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/gmaps.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
</body>
</html>					