<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section ======================================= -->
        <header id="ft-header" class="ft-header-section header-style-two">
            <div class="ft-header-main-menu-wrapper">
                <div class="container">
                    <div class="ft-header-main-menu d-flex align-items-center justify-content-between">
                        <div class="ft-site-logo-area">
                            <div class="ft-site-logo position-relative">
                                <a href="/"><img src="/img/logo/logo3.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of header section ========================================= -->

        <!-- Start of Coming Soon section ================================== -->
        <section id="coming-soon" class="coming-soon-section" data-background="/img/bg/cs-bg.jpg">
            <div class="container">
                <div class="coming-soon-content headline pera-content">
                    <h2>We’re Coming Soon</h2>
                    <div class="coming-soon-countdown ul-li">
                        <ul>
                            <li class="days">
                                <span class="ft-count-down-number"></span>
                                <span class="count-unit">Days</span>
                            </li>

                            <li class="hours">
                                <span class="ft-count-down-number"></span>
                                <span class="count-unit">Hours</span>
                            </li>

                            <li class="minutes">
                                <span class="ft-count-down-number"></span>
                                <span class="count-unit">Minutes</span>
                            </li>

                            <li class="seconds">
                                <span class="ft-count-down-number"></span>
                                <span class="count-unit">Seconds</span>
                            </li>
                        </ul>
                    </div>
                    <div class="coming-soon-newslatter-form">
                        <h3>NEWSLETTER</h3>
                        <p>Sign up for our latest news & articles.</p>
                        <form action="#">
                            <input type="text" placeholder="Type Your Email" />
                            <button>Subscribe Now</button>
                        </form>
                    </div>
                    <div class="coming-soon-social d-flex">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Coming Soon section ==================================== -->

        <!-- For JS libraries -->
        <%- include("partials/js-libraries") %>
    </body>
</html>
