<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
        <meta name="description" content="FasTrans - Logistics & Delivery Company HTML template" />
        <meta
            name="keywords"
            content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, page builder, shipment, transport, transportation, truck, trucking"
        />
        <meta name="author" content="Themexriver" />
        <link rel="shortcut icon" href="/img/logo/ficon.png" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/fontawesome-all.css" />
        <link rel="stylesheet" href="/css/flaticon.css" />
        <link rel="stylesheet" href="/css/animate.css" />
        <link rel="stylesheet" href="/css/nice-select.css" />
        <link rel="stylesheet" href="/css/video.min.css" />
        <link rel="stylesheet" href="/css/animated-slider.css" />
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" href="/css/slick.css" />
        <link rel="stylesheet" href="/css/rs6.css" />
        <link rel="stylesheet" href="/css/slick-theme.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section
	============================================= -->
        <%- include('partials/header') %>
        <!-- End of header section
	============================================= -->

        <!-- Start of Breadcrumb section
	============================================= -->
        <%- include("partials/breadcrumb", { pageTitle: pageTitle, parentPage: parentPage }) %>
        <!-- End of Breadcrumb section
	============================================= -->

        <!-- Start of Service details section
	============================================= -->
        <section id="ft-service-details" class="ft-service-details-section page-padding">
            <div class="container">
                <div class="ft-service-details-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ft-service-sidebar">
                                <div class="ft-service-sidebar-widget headline ul-li-block">
                                    <div class="service-category-widget">
                                        <h3 class="widget-title">All Service</h3>
                                        <ul>
                                            <li><a href="/service-details">Road Freight </a></li>
                                            <li><a href="/service-details">Ocean Freight </a></li>
                                            <li><a href="/service-details">Air Freight </a></li>
                                            <li><a href="/service-details">Third Party Logistics </a></li>
                                            <li><a href="/service-details">Smart Warehousing </a></li>
                                            <li><a href="/service-details">Industry Solutions </a></li>
                                            <li><a href="/service-details">Custom Solutions </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ft-service-sidebar-widget headline ul-li-block">
                                    <div class="service-form-widget">
                                        <h3 class="widget-title text-uppercase">24/7 ONLINE SUPPORT</h3>
                                        <p>Get immediate quotes & book shipment.</p>
                                        <form action="#">
                                            <input type="text" placeholder="Name" />
                                            <input type="email" placeholder="Email" />
                                            <textarea name="#" placeholder="Your Question Here"></textarea>
                                            <button>Contact Now</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="ft-service-sidebar-widget headline ul-li-block">
                                    <div class="service-download-widget">
                                        <h3 class="widget-title">Download Now</h3>
                                        <ul>
                                            <li>
                                                <a href="#">Company Report 2020 <i class="far fa-file-pdf"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">Company Report 2021 <i class="far fa-file-pdf"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="ft-service-details-content-wrapper headline pera-content">
                                <div class="ft-service-details-img-wrapper">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ft-service-details-img">
                                                <img src="/img/service/sd1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ft-service-details-img">
                                                <img src="/img/service/sd2.jpg" alt="" />
                                            </div>
                                            <div class="ft-service-details-img">
                                                <img src="/img/service/sd3.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ft-service-details-text-wrapper">
                                    <h3>Overview</h3>
                                    <p>
                                        ur airfreight staff attaches great importance to customizing the booking process
                                        for our customers. That’s why we strive to find the air freight solution that
                                        best suits your needs. We’ll ask you when the freight is available, what the
                                        required delivery date is, and if there’s potential to save on time or cost.
                                        Your answers to these and other questions help us decide if you should book the
                                        air freight as direct. We’ll also see if our sea-air service is a better
                                        solution for you.
                                    </p>
                                    <p>
                                        We have more than twenty years of experience. During that time, we’ve become
                                        expert in freight transportation by air and all its related services. We work
                                        closely with all major airlines around the world. Ongoing negotiations ensure
                                        that we always have the cargo space we need and the ability to offer you
                                        competitive rates – even during the high season.
                                    </p>
                                    <p>
                                        Where possible, we’ll erect and dismantle Unit Load Devices (ULDs), reducing
                                        significantly the risk of damage to your shipment and saving you time and
                                        expense. We can do this because many of our freight stations have their own
                                        ground transportation at or around the airport.
                                    </p>
                                    <div class="ft-service-details-counter-wrapper">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div
                                                    class="ft-service-details-counter-item d-flex align-items-center headline pera-content"
                                                >
                                                    <div class="ft-service-details-count-icon">
                                                        <i class="flaticon-worldwide"></i>
                                                    </div>
                                                    <div class="ft-service-details-count-text">
                                                        <h4 class="title text-uppercase">WE COVERED</h4>
                                                        <h4 class="count-number"><span class="counter">158</span>+</h4>
                                                        <p>International gateways</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div
                                                    class="ft-service-details-counter-item d-flex align-items-center headline pera-content"
                                                >
                                                    <div class="ft-service-details-count-icon">
                                                        <i class="flaticon-logistics"></i>
                                                    </div>
                                                    <div class="ft-service-details-count-text">
                                                        <h4 class="title text-uppercase">WE HANDLED</h4>
                                                        <h4 class="count-number"><span class="counter">2000</span>+</h4>
                                                        <p>Tons of air freight annually</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>How It Works</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                        gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                    </p>
                                    <div class="ft-video-content position-relative">
                                        <div class="ft-video-img-play-btn">
                                            <div class="ft-video-img">
                                                <img src="/img/bg/v-bg.jpg" alt="" />
                                            </div>
                                            <div class="ft-video-play">
                                                <a
                                                    class="d-flex justify-content-center align-items-center position-relative video_box"
                                                    href="https://www.youtube.com/watch?v=C4jjFanHZo8"
                                                >
                                                    <i class="fas fa-play"></i>
                                                    <span class="video_btn_border border_wrap-1"></span>
                                                    <span class="video_btn_border border_wrap-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Service details section
	============================================= -->

        <!-- Start of Footer   section
	============================================= -->
        <%- include('partials/footer') %>
        <!-- End of FAQ why choose  section
	============================================= -->

        <!-- For Js Library -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/appear.js"></script>
        <script src="/js/slick.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/imagesloaded.pkgd.min.js"></script>
        <script src="/js/jquery.filterizr.js"></script>
        <script src="/js/rbtools.min.js"></script>
        <script src="/js/jquery.cssslider.min.js"></script>
        <script src="/js/rs6.min.js"></script>
        <script src="/js/knob.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/gmaps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
    </body>
</html>
